<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://103.97.124.232:1433;database=coconut_craft_db
            <!--        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:9911;database=coconut_craft_db-->
        </property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">leo@1234</property>
        <!--        <property name="hibernate.connection.password">Cuongnd99</property>-->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.release_mode">auto</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.transaction.auto_close_session">false</property>
        <property name="hibernate.transaction.flush_before_completion">true</property>
        <mapping class="com.team5solution.Entities.Product"/>
        <mapping class="com.team5solution.Entities.Category"/>
        <mapping class="com.team5solution.Entities.Account"/>
        <mapping class="com.team5solution.Entities.Discount"/>
        <mapping class="com.team5solution.Entities.PurchasesOrder"/>
        <mapping class="com.team5solution.Entities.SalesOrder"/>
        <mapping class="com.team5solution.Entities.Supplier"/>
        <mapping class="com.team5solution.Entities.Notify"/>
        <mapping class="com.team5solution.Entities.SalesOrderDetail"/>
        <mapping class="com.team5solution.Entities.SalesOrderItem"/>
        <mapping class="com.team5solution.Entities.Comment"/>
    </session-factory>
</hibernate-configuration>
